@using PESystem.Helpers
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDResponsive Sidebar</title>
    <link rel="icon" href="~/assets/img/repoPD.png" type="image/png">
    <link rel="stylesheet" href="~/css/site.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/all-fa-icon/css/all.min.css" />
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/areas/pdstock/css/pdstock.css" />
    <script src="~/lib/gsap-particles/particles.min.js"></script>
    <script src="~/lib/gsap-particles/gsap.min.js"></script>
</head>
<body>
    <script>
        (function () {
            const isSidebarFixed = localStorage.getItem('isSidebarFixed') === 'true';
            if (isSidebarFixed) {
                document.documentElement.classList.add('sidebar-expanded');
            } else {
                document.documentElement.classList.remove('sidebar-expanded');
            }
        })();
    </script>

    <!-- Sidebar dọc -->
    <div id="sidebar" class="sidebar">
        <!-- Logo and Dashboard with fixed checkbox -->
        <div class="dashboard-container">
            <a href="@Url.Action("Home", "Home", new { area = "" })">
                <img src="~/assets/img/repoPD.png" style="width:36px; height:36px;" class="logo" />
            </a>
            <span class="spanTitle" style="font-size: 0.8rem; font-weight: bold;">
                PD REPOSITORY
            </span>
            <div class="fixed-checkbox">
                <input type="checkbox" id="toggleSidebarFixed" title="Giữ cố định" />
                <label for="toggleSidebarFixed" title="Giữ cố định">
                    <i class="ri-checkbox-blank-circle-line"></i>
                </label>
            </div>
        </div>
        <nav class="nav flex-column">
            <!-- Menu Items -->
            <a href="@Url.Action("Home", "Home", new { area = "" })" class="nav-link"><i class="fas fa-home"></i> <span>Trang chủ</span></a>
            <a href="@Url.Action("Index", "Home", new { area = "PDRepositories" })" class="nav-link  @ViewContext.IsActive("Home", "Index")"><i class="fas fa-dashboard"></i> <span>Dashboard</span></a>
            <a href="@Url.Action("Index", "SearchProduct", new { area = "PDRepositories" })" class="nav-link  @ViewContext.IsActive("SearchProduct", "Index")"><i class="fas fa-search"></i> <span>Tìm kiếm</span></a>
            <a href="@Url.Action("Index", "AddProduct", new { area = "PDRepositories" })" class="nav-link  @ViewContext.IsActive("AddProduct", "Index")"><i class="fas fa-file-import"></i> <span>Nhập kho</span></a>
            <a href="@Url.Action("Index", "OutProduct", new { area = "PDRepositories" })" class="nav-link  @ViewContext.IsActive("OutProduct", "Index")"><i class="fas fa-file-import"></i> <span>Xuất kho</span></a>

        </nav>
    </div>
    <div class="dashboard-stage">
        <div class="dashboard-wrapper">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/site.min.js?v=3" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/areas/pdstock/js/pdrepository.js"></script>
    <script src="~/lib/excel/xlsx.full.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
